//
//  Secrets.xcconfig
//  News+
//
//  Created by Ikmal Azman on 24/07/2021.
//

// Secure secrets in iOS i.e. APIKey
// https://medium.com/swift-india/secure-secrets-in-ios-app-9f66085800b4
// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_KEY = FAKE_API_KEY
